@import "tailwindcss";

@theme {
  --color-ascend-light-orange: #ff9d65;
  --color-ascend-red-orange: #e83402;
  --color-ascend-dark-blue: #171b4b;
  --color-ascend-peach: #ffac7c;

  --color-ascend-light-blue: #bfdbfe;
  --color-ascend-sky-blue: #60a5fa;
  --color-ascend-dark-blue: #2563eb;

  --font-playfair: "Playfair_Display", serif;
  --font-nunito: "Nunito_Sans";
}
